
.bg-gradient {
    @apply !bg-gradient-to-r !from-primary2 !to-blue-400 !text-white
}

.bg-gradient-fade {
    @apply !bg-gradient-to-r !from-primary2 !to-blue-400 !text-white
}


.table-data {
    @apply p-1
}

.button-primary {
    @apply bg-primary2 text-white rounded-md px-4 py-2 my-2 border-2 border-primary2
    hover:cursor-pointer hover:bg-primary2variant-700 hover:text-white shadow-sm
}

.btn-outline {
    @apply border-2 border-gray-300 rounded-md px-4 py-2 my-2
    hover:cursor-pointer hover:bg-primary2 hover:bg-primary2variant-50 hover:border-white shadow-sm
}

/*.bg-active {*/
/*    @apply !bg-gradient-to-r !from-primary2variant-50 !to-primary2variant-50*/
/*}*/

input:focus {
    outline: none;
    box-shadow: none!important;
}

textarea:focus {
    outline: none;
    box-shadow: none!important;
}

.form-control {
    @apply border-b-2 mt-4
}

.dynamic-form {
    @apply m-4
}

.form-error {
    color: red;
    font-size: 12px;
}

.card {
    @apply p-4 border-0
}

.dashed-border {
    @apply border-b-2 border-[#BCD0D9] border-dotted pb-2 my-3
}

.btn-submit {
    @apply bg-primary2 text-white px-2 py-1 rounded-md font-bold hover:cursor-pointer hover:bg-primary2fade mx-4 mb-4
}

.input {
    @apply  focus:outline-none focus:border-primary2 p-2 border-b-2
}

.form-holder {
    @apply pt-4
}


/* Animations */

.scale-up {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shadow-drop-center {
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  /**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-14 12:26:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

  
  